.shape {
  height: 50px;
  width: 50px;
}

.Square {

}

.Circle {
  border-radius: 50%;
}

.Triangle {
 	width: 0;
 	height: 0;
 	border-left: 30px solid transparent;
 	border-right: 30px solid transparent;
 	border-bottom: 50px solid black;
}